tasks:
  - name: I want check answers of a website
    check_interval: 10
    condition_true:
      - Status:
          url: https://example.com
          status: [200]

  - name: I want check SSL data valide of a website
    check_interval: 86400
    condition_true:
      - SSLcheck:
          url: https://example.com
          day_before: 5

# Extract value by mask and compare with value
  - name: I want compare an extracted value with target value. 
    check_interval: 86400
    condition_true:
      - Compare:
          url: https://example.com/api/client/command.php?key=ZTMSZ-4RFWM
          mask: ',0</bw>' # Handle ,10</bw>: or ,870</bw>
          sign: '>=' # Form "extracted value"_"sign"_"value"
          value: 85

telegram:
  token: xxxxxxxxxxx:xxxxx[token from Bot Father]xxxxxxxxxxxx
  chat_id: xxxxxxxxxxx